@{
    ViewData["Title"] = "Home Page";
}

<button id="nuevo-empleado" type="button" class="btn btn-primary">Nuevo empleado</button>
<div class="text-center">
    <h1 class="display-4">Empleados</h1>
    <div id="error-message-home" class="" role="alert"></div>
    <table id="table-list" class="hover" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Area</th>
                <th>Fecha Nacimiento</th>
                <th>Sueldo</th>
            </tr>
        </thead>
    </table>
</div>