.vs/ProjectEvaluation/testsol.metadata.v7.bin
.vs/ProjectEvaluation/testsol.projects.v7.bin
.vs/TestSol/DesignTimeBuild/.dtbcache.v2
.vs/TestSol/FileContentIndex/5f752e72-a93d-4a47-9914-eeb4fb67df72.vsidx
.vs/TestSol/FileContentIndex/2845b69d-0ecc-4ecb-8e8b-a56e668dbc84.vsidx
.vs/TestSol/FileContentIndex/97492efb-1ce0-4fe4-b57f-5531d5ce9885.vsidx
.vs/TestSol/FileContentIndex/697532db-d896-496f-b957-6017a67edbb6.vsidx
.vs/TestSol/FileContentIndex/73146731-a521-4764-a2ee-6a10e156d11d.vsidx
.vs/TestSol/FileContentIndex/b408ca92-fb6e-41ff-8a54-1114ee9de084.vsidx
.vs/TestSol/FileContentIndex/e7b6841d-92f9-441a-ae0e-24bc6dfedb3e.vsidx
.vs/TestSol/v17/.futdcache.v2
.vs/TestSol/v17/.suo
PDN.TestSol.DataAccess/obj/PDN.TestSol.Datos.csproj.nuget.dgspec.json
PDN.TestSol.DataAccess/obj/project.assets.json
PDN.TestSol.DataAccess/obj/project.nuget.cache
PDN.TestSol.DataAccess/obj/Debug/net8.0/PDN.TestSol.Datos.AssemblyInfo.cs
PDN.TestSol.DataAccess/obj/Debug/net8.0/PDN.TestSol.Datos.AssemblyInfoInputs.cache
PDN.TestSol.DataAccess/obj/Debug/net8.0/PDN.TestSol.Datos.assets.cache
PDN.TestSol.DataAccess/obj/Debug/net8.0/PDN.TestSol.Datos.csproj.AssemblyReference.cache
PDN.TestSol.DataAccess/obj/Debug/net8.0/PDN.TestSol.Datos.GeneratedMSBuildEditorConfig.editorconfig
PDN.TestSol.DataAccess/obj/Debug/net8.0/PDN.TestSol.Datos.GlobalUsings.g.cs
PDN.TestSol.Escritorio/obj/PDN.TestSol.UI.Escritorio.csproj.nuget.dgspec.json
PDN.TestSol.Escritorio/obj/project.assets.json
PDN.TestSol.Escritorio/obj/project.nuget.cache
PDN.TestSol.Escritorio/obj/Debug/net8.0-windows/PDN.TestSol.UI.Escritorio.AssemblyInfo.cs
PDN.TestSol.Escritorio/obj/Debug/net8.0-windows/PDN.TestSol.UI.Escritorio.AssemblyInfoInputs.cache
PDN.TestSol.Escritorio/obj/Debug/net8.0-windows/PDN.TestSol.UI.Escritorio.assets.cache
PDN.TestSol.Escritorio/obj/Debug/net8.0-windows/PDN.TestSol.UI.Escritorio.csproj.AssemblyReference.cache
PDN.TestSol.Escritorio/obj/Debug/net8.0-windows/PDN.TestSol.UI.Escritorio.GeneratedMSBuildEditorConfig.editorconfig
PDN.TestSol.Escritorio/obj/Debug/net8.0-windows/PDN.TestSol.UI.Escritorio.GlobalUsings.g.cs
PDN.TestSol.DataAccess/obj/PDN.TestSol.Datos.csproj.nuget.dgspec.json
PDN.TestSol.DataAccess/obj/project.assets.json
PDN.TestSol.DataAccess/obj/project.nuget.cache
PDN.TestSol.DataAccess/obj/Debug/net8.0/PDN.TestSol.Datos.AssemblyInfo.cs
PDN.TestSol.DataAccess/obj/Debug/net8.0/PDN.TestSol.Datos.AssemblyInfoInputs.cache
PDN.TestSol.DataAccess/obj/Debug/net8.0/PDN.TestSol.Datos.assets.cache
PDN.TestSol.DataAccess/obj/Debug/net8.0/PDN.TestSol.Datos.csproj.AssemblyReference.cache
PDN.TestSol.DataAccess/obj/Debug/net8.0/PDN.TestSol.Datos.GeneratedMSBuildEditorConfig.editorconfig
PDN.TestSol.DataAccess/obj/Debug/net8.0/PDN.TestSol.Datos.GlobalUsings.g.cs
PDN.TestSol.Escritorio/obj/PDN.TestSol.UI.Escritorio.csproj.nuget.dgspec.json
PDN.TestSol.Escritorio/obj/project.assets.json
PDN.TestSol.Escritorio/obj/project.nuget.cache
PDN.TestSol.Escritorio/obj/Debug/net8.0-windows/PDN.TestSol.UI.Escritorio.AssemblyInfo.cs
PDN.TestSol.Escritorio/obj/Debug/net8.0-windows/PDN.TestSol.UI.Escritorio.AssemblyInfoInputs.cache
PDN.TestSol.Escritorio/obj/Debug/net8.0-windows/PDN.TestSol.UI.Escritorio.assets.cache
PDN.TestSol.Escritorio/obj/Debug/net8.0-windows/PDN.TestSol.UI.Escritorio.csproj.AssemblyReference.cache
PDN.TestSol.Escritorio/obj/Debug/net8.0-windows/PDN.TestSol.UI.Escritorio.GeneratedMSBuildEditorConfig.editorconfig
PDN.TestSol.Escritorio/obj/Debug/net8.0-windows/PDN.TestSol.UI.Escritorio.GlobalUsings.g.cs
PDN.TestSol.Models/obj/PDN.TestSol.Modelos.csproj.nuget.dgspec.json
PDN.TestSol.Models/obj/project.assets.json
PDN.TestSol.Models/obj/project.nuget.cache
PDN.TestSol.Models/obj/Debug/net8.0/PDN.TestSol.Modelos.AssemblyInfo.cs
PDN.TestSol.Models/obj/Debug/net8.0/PDN.TestSol.Modelos.AssemblyInfoInputs.cache
PDN.TestSol.Models/obj/Debug/net8.0/PDN.TestSol.Modelos.assets.cache
PDN.TestSol.Models/obj/Debug/net8.0/PDN.TestSol.Modelos.GeneratedMSBuildEditorConfig.editorconfig
PDN.TestSol.Models/obj/Debug/net8.0/PDN.TestSol.Modelos.GlobalUsings.g.cs
PDN.TestSol.Negocio/obj/PDN.TestSol.Negocio.csproj.nuget.dgspec.json
PDN.TestSol.Negocio/obj/project.assets.json
PDN.TestSol.Negocio/obj/project.nuget.cache
PDN.TestSol.Negocio/obj/Debug/net8.0/PDN.TestSol.Negocio.AssemblyInfo.cs
PDN.TestSol.Negocio/obj/Debug/net8.0/PDN.TestSol.Negocio.AssemblyInfoInputs.cache
PDN.TestSol.Negocio/obj/Debug/net8.0/PDN.TestSol.Negocio.assets.cache
PDN.TestSol.Negocio/obj/Debug/net8.0/PDN.TestSol.Negocio.csproj.AssemblyReference.cache
PDN.TestSol.Negocio/obj/Debug/net8.0/PDN.TestSol.Negocio.GeneratedMSBuildEditorConfig.editorconfig
PDN.TestSol.Negocio/obj/Debug/net8.0/PDN.TestSol.Negocio.GlobalUsings.g.cs
PDN.TestSol.UI/obj/PDN.TestSol.UI.Web.csproj.nuget.dgspec.json
PDN.TestSol.UI/obj/project.assets.json
PDN.TestSol.UI/obj/project.nuget.cache
PDN.TestSol.UI/obj/Debug/net8.0/PDN.TestSol.UI.Web.AssemblyInfo.cs
PDN.TestSol.UI/obj/Debug/net8.0/PDN.TestSol.UI.Web.AssemblyInfoInputs.cache
PDN.TestSol.UI/obj/Debug/net8.0/PDN.TestSol.UI.Web.assets.cache
PDN.TestSol.UI/obj/Debug/net8.0/PDN.TestSol.UI.Web.csproj.AssemblyReference.cache
PDN.TestSol.UI/obj/Debug/net8.0/PDN.TestSol.UI.Web.GeneratedMSBuildEditorConfig.editorconfig
PDN.TestSol.UI/obj/Debug/net8.0/PDN.TestSol.UI.Web.GlobalUsings.g.cs
PDN.TestSol.UI/obj/Debug/net8.0/PDN.TestSol.UI.Web.RazorAssemblyInfo.cache
PDN.TestSol.UI/obj/Debug/net8.0/PDN.TestSol.UI.Web.RazorAssemblyInfo.cs
PDN.TestSol.UI/obj/Debug/net8.0/project.razor.vscode.bin
PDN.TestSol.UI.Comun/obj/PDN.TestSol.UI.Comun.csproj.nuget.dgspec.json
PDN.TestSol.UI.Comun/obj/project.assets.json
PDN.TestSol.UI.Comun/obj/project.nuget.cache
PDN.TestSol.UI.Comun/obj/Debug/net8.0/PDN.TestSol.UI.Comun.AssemblyInfo.cs
PDN.TestSol.UI.Comun/obj/Debug/net8.0/PDN.TestSol.UI.Comun.AssemblyInfoInputs.cache
PDN.TestSol.UI.Comun/obj/Debug/net8.0/PDN.TestSol.UI.Comun.assets.cache
PDN.TestSol.UI.Comun/obj/Debug/net8.0/PDN.TestSol.UI.Comun.csproj.AssemblyReference.cache
PDN.TestSol.UI.Comun/obj/Debug/net8.0/PDN.TestSol.UI.Comun.GeneratedMSBuildEditorConfig.editorconfig
PDN.TestSol.UI.Comun/obj/Debug/net8.0/PDN.TestSol.UI.Comun.GlobalUsings.g.cs
.vs/ProjectEvaluation/testsol.metadata.v7.bin
.vs/ProjectEvaluation/testsol.projects.v7.bin
.vs/TestSol/DesignTimeBuild/.dtbcache.v2
.vs/TestSol/FileContentIndex/5f752e72-a93d-4a47-9914-eeb4fb67df72.vsidx
.vs/TestSol/FileContentIndex/2845b69d-0ecc-4ecb-8e8b-a56e668dbc84.vsidx
.vs/TestSol/FileContentIndex/697532db-d896-496f-b957-6017a67edbb6.vsidx
.vs/TestSol/FileContentIndex/b408ca92-fb6e-41ff-8a54-1114ee9de084.vsidx
.vs/TestSol/FileContentIndex/e7b6841d-92f9-441a-ae0e-24bc6dfedb3e.vsidx
.vs/TestSol/v17/.futdcache.v2
.vs/TestSol/v17/.suo
